<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>

<h2>Список пользователей</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Email</th>
        <th>Username</th>
        <th>Password</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${admin}">
        <td th:text="${user.id}">1</td>
        <td th:text="${user.firstName}">Имя</td>
        <td th:text="${user.lastName}">Фамилия</td>
        <td th:text="${user.email}">email@example.com</td>
        <td th:text="${user.username}">Логин</td>
        <td th:text="${user.password}">Пароль</td>

        <td>
            <a th:href="@{/admin/edit(id=${user.id})}">
                <button type="submit">Изменить</button>
            </a>
        </td>
        <td>
            <form th:action="@{/admin/delete(id=${user.id})}" method="post">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr/>

<h2>Добавить пользователя</h2>
<form th:action="@{/admin/add}" method="post" th:object="${user}">
    <div>
        <label for="firstName">Имя:</label>
        <input type="text" id="firstName" th:field="*{firstName}" required/>
        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <div>
        <label for="lastName">Фамилия:</label>
        <input type="text" id="lastName" th:field="*{lastName}" required/>
        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" required/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required/>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password" th:field="*{password}" required/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <p>Roles:</p>
    <div th:each="role : ${allRoles}">
        <label>
            <input type="checkbox" th:value="${role.id}" name="roles"/>
            <span th:text="${role.name}"></span>
        </label>
    </div>
    <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"></div>
    <button type="submit">Добавить</button>
</form>

<a th:href="@{/index}">
    <button type="submit">Вернуться главную страницу</button>
</a>

<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти из аккаунта</button>
</form>

<hr/>
</body>
</html>