<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница выбора дальнейшей роли</title>
</head>
<body>
<h1>Приветствуем Вас!</h1>
<p>У вас есть возможность просмотреть информацию профиля или перейти к панели управления</p>
<form th:action="@{/user}" method="get">
    <button type="submit">Информация профиля</button>
</form>
<form th:action="@{/admin}" method="get">
    <button type="submit">Панель управления</button>
</form>
<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти из аккаунта</button>
</form>
</body>
</html>