<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страничка пользователя</title>
</head>
<body>
<h1>Информация профиля</h1>
<p>Username: <span th:text="${user.username}"></span></p>
<p>Name: <span th:text="${user.firstName}"></span></p>
<p>Lastname: <span th:text="${user.lastName}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Roles: <span th:text="${user.getRoles()}"></span></p>


<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти из аккаунта</button>
</form>
</body>
</html>